    {% from "_formhelpers.j2" import render_field %}
{% extends "layout.htm.j2" %}

{% block title %}New - {{ model_type|title }}{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
    <div class="formwrapper">
        <h2 class="title">New {{ model_type|title }}</h2>
        <form method="POST" action="{{ url_for('new_entity_of_type', model_type=model_type) }}">
            {# Do not render the csrf and submit fields #}
            {% for field in form if not field == form.csrf_token and not field == form.submit %}
                {{ render_field(field) }}
            {% endfor %}
            {{ form.submit }}
        </form>
    </div>
{% endblock %}
